<div class="log-display">
    @if (LogMessages.Any())
    {
        <ul>
            @foreach (var log in LogMessages)
            {
                <li class="log-entry">
                    <span class="message">@log</span>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No logs available</p>
    }
</div>

@code {

    [Parameter] public List<string> LogMessages { get; set; } = [];
}

