@page "/"
@using NetCord.Gateway
@using Message = NetCord.Gateway.Message

@inject DiscordClient DiscordClient

<h3>Home</h3>

<FluentStack Orientation="Orientation.Vertical"
             HorizontalAlignment="HorizontalAlignment.Center"
             VerticalAlignment="VerticalAlignment.Center"
             VerticalGap="20">
    <FluentButton Id="start-client" Appearance="Appearance.Outline" OnClick="StartClient">Start</FluentButton>
    <FluentButton Id="stop-client" Appearance="Appearance.Outline" OnClick="StopClient">Stop</FluentButton>

    @if (_logs.Any())
    {
        <DisplayLogs LogMessages="_logs"/>
    }

</FluentStack>

@code {

    private readonly List<string> _logs = [];
 
    protected override async Task OnInitializedAsync()
    {
        DiscordClient.OnLogAsync += LogTask;
        DiscordClient.OnMessageCreate += OnMessageReceived;
        await DiscordClient.InitializeClientAsync();
    }

    private async Task StartClient()
    {
        Console.WriteLine("Started");
        await DiscordClient.StartClientAsync();
    }

    private async Task StopClient()
    {
        Console.WriteLine("Stopped");
        await DiscordClient.StopClientAsync();
    }

    private async ValueTask LogTask(LogMessage logMessage)
    {
        var log = logMessage.ToString();
        _logs.Add(log);
        await InvokeAsync(StateHasChanged);
    }
    
    private async ValueTask OnMessageReceived(Message message)
    {
        _logs.Add(message.Content);
        await InvokeAsync(StateHasChanged);
    }

}